body{
  margin: 0;
  padding: 0;
  font-family: candara;
  background: white;
}

#searchBox{
  background: #00000000;
  width: 100vw;
  /*
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  */
  text-align: center;
  display: flex;
  flex-direction: column;
}
a{
  color: black;
}

h1{
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
#bookFont{
  color: #2f00ff;
  font-size: 40px;
}
h4{
  color: black;
  text-transform: initial;
  font-weight: 100;
}

#searchBox textarea{
  border:0;
  background: none;
  /* width: 50vw;
  height: 25vh; */
  margin: 20px 20px;
  text-align: center;
  border: 2px solid black;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 0px;
  transition: 0.25s;
  word-wrap: break-word;
}


#searchBox input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2f00ff;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 0px;
  transition: 0.25s;
  cursor: pointer;
}
#searchBox input[type = "submit"]:hover{
  background: #c1b3ff;
}
#info{
  color: black;
}
.show {
  background: #00000000;
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.disPost{
  text-align: center;
  padding: 20px;
  margin: 8px;
  background: lightskyblue;
}
.msg {
  background: rgb(255, 228, 181);
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
}